@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Page</h1>
    <div>
        <h1> Tổng số danh mục: @ViewBag.NumCat </h1>
    </div>
    <div>
        <h1> Tổng số bài viết: @ViewBag.NumPost </h1>
    </div>
</div>
